/* Fundo azul para a tela inteira */
body {
    background-color: #4A90E2; /* Azul */
    margin: 0;
    padding: 0;
    height: 100vh; /* Garantir que a tela ocupe toda a altura */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container para os inputs */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0F0F0; /* Branco meio cinza para o container */
    padding: 30px; /* Ajustado o padding para melhorar o espaçamento */
    border-radius: 8px; /* Bordas arredondadas para um visual mais suave */
    width: 450px;
    height: 300px; /* Largura fixa para o container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar o container */
    text-align: center; /* Centralizar o conteúdo dentro do container */
}

/* Estilo dos inputs */
.inputs {
    background-color: #f8fbff;
    border-radius: 4px;
    margin-bottom: 15px; /* Espaço entre os inputs */
    padding: 10px;
    width: 100%; /* Faz com que os inputs ocupem toda a largura disponível */
    color: black;
}

/* Estilo do botão */
.button {
    background-color: rgb(73, 147, 211);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* O botão agora ocupa toda a largura */
    margin-top: 10px; /* Espaço entre o botão e o último input */
}

.button:hover {
    background-color: #d0e3f1; /* Efeito de hover no botão */
}

.header {
    color: black;
    margin-bottom: 20px; /* Espaço abaixo do título */
}

/* Estilo para cada campo de input */
.name, .email {
    color: black;
    width: 100%; /* Garante que o label ocupe toda a largura */
}
